In [6]:
import pymysql

# Establish a connection to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='admin@123',
    database='mysql'
)
cursor = connection.cursor()
# sql_command = """CREATE TABLE customers_data (
#     customer_id INT PRIMARY KEY,
#     customer_name VARCHAR(100)
# )
# """
# cursor.execute(sql_command)
# connection.commit()
# connection.close()
sql_command = "INSERT INTO customers_data (customer_id, customer_name) VALUES(%s,%s)"
data = [
    (1, 'John'),
    (2, 'Jane'),
    (3, 'Michael'),
    (4, 'Emily'),
    (5, 'David')
]
cursor = connection.cursor()

for row in data:
    cursor.execute(sql_command, row)

connection.commit()

cursor.close()
connection.close()

In [9]:
import pymysql

# Establish a connection to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='admin@123',
    database='mysql'
)
cursor = connection.cursor()
# sql_command = """CREATE TABLE purchases (
#     purchase_id INT PRIMARY KEY,
#     customer_id INT,
#     amount DECIMAL(10, 2)
# )
# """
# cursor.execute(sql_command)
# connection.commit()
# connection.close()
sql_command = "INSERT INTO purchases (purchase_id, customer_id,amount) VALUES(%s,%s,%s)"
data = [
    (101,1,200.50),
    (201,3,400.50),
    (301,2,700.50),
    (401,4,900.50),
    (501,5,1000.00)
]
cursor = connection.cursor()

for row in data:
    cursor.execute(sql_command, row)

connection.commit()

cursor.close()
connection.close()

In [10]:
import pymysql

# Establish a connection to the database
connection = pymysql.connect(
    host='localhost',
    user='root',
    password='admin@123',
    database='mysql'
)
cursor = connection.cursor()
sql_command = """
        SELECT customer_id, SUM(amount) AS total_amount
        FROM purchases
        GROUP BY customer_id
        ORDER BY total_amount DESC
        LIMIT 5
"""
cursor = connection.cursor()
cursor.execute(sql_command)
results = cursor.fetchall()
for row in results:
    print(row)

(5, Decimal('1000.00'))
(4, Decimal('900.50'))
(2, Decimal('700.50'))
(3, Decimal('400.50'))
(1, Decimal('200.50'))