In [118]:
import pandas as pd
import json

df =  pd.read_csv(r"C:\Users\V\Downloads\new testing 5k.csv")
number = []
for i,j in df.iterrows():
    if df["phoneNumber"][i] not in number:
        number.append(df["phoneNumber"][i])
        extra_detail=dict()
        for key,value in list(j.items())[2:]:
            key=str("".join(key.split()))
            na_value=str(value)
            if na_value!="nan":
                extra_detail[key]=value
            else:
                pass
        cursor = connection.cursor()
        sql = f"insert into customer_data (list_id,phone_code,phone_number,extra_data) VALUES (%s,%s,%s,%s)
    else:
        pass

{'Firstname': 'CHARLES', 'MiddleName': 'R', 'LastName': 'RICHARDS', 'Address': '4521 PATTERSON DR', 'City': 'DIAMOND SPRINGS', 'State': 'CA', 'Country': 'El Dorado', 'PostalNumber': 9316.0, 'Age': 68.0, 'BirthMonth': 9.0, 'EST.Income': '$65,000 - $74,999'}
{}
{'Firstname': 'TIM', 'MiddleName': 'J', 'LastName': 'HEANER', 'Address': '2300 E COLLEGE AVE', 'City': 'VISALIA', 'State': 'CA', 'Country': 'Tulare', 'PostalNumber': 1534.0, 'Age': 59.0, 'BirthMonth': 1.0, 'EST.Income': '$75,000 - $99,999'}
{}
{}
{}
{}
{}
{'Firstname': 'TABITHA', 'LastName': 'RAMEY', 'Address': 'PO BOX 992592', 'City': 'REDDING', 'State': 'CA', 'Country': 'Shasta', 'PostalNumber': 2592.0, 'Age': 60.0, 'BirthMonth': 8.0, 'EST.Income': '$100,000 - $149,999'}
{'Firstname': 'JOHN', 'MiddleName': 'T', 'LastName': 'COELHO', 'Address': '4240 CHERRY ACRES CIR', 'City': 'COOL', 'State': 'CA', 'Country': 'El Dorado', 'PostalNumber': 9546.0, 'Age': 50.0, 'BirthMonth': 11.0, 'EST.Income': '$75,000 - $99,999'}
{'Firstname': 'KATHY', 'MiddleName': 'M', 'LastName': 'THOMPSON', 'Address': '6471 OXBOW ST', 'City': 'REDDING', 'State': 'CA', 'Country': 'Shasta', 'PostalNumber': 5078.0, 'Age': 56.0, 'BirthMonth': 1.0, 'EST.Income': '$100,000 - $149,999'}
{'Firstname': 'PAULETTE', 'LastName': 'LEE', 'Address': '39 TRINITY AVE', 'City': 'CHOWCHILLA', 'State': 'CA', 'Country': 'Madera', 'PostalNumber': 2948.0, 'Age': 57.0, 'BirthMonth': 6.0, 'EST.Income': '$75,000 - $99,999'}