In [21]:
import pandas as pd  
titanic_train = pd.read_csv(r"C:\Users\V\Desktop\python_ineuron\organizations.csv")   
titanic_train

   Index  Organization Id            Name  Number of employees  years
0      1  FAB0d41d5b5d22c         Ferrell                 3498      2
1      2  6A7EdDEA9FaDC52        Mckinney                 4952      4
2      3  0bFED1ADAE4bcC1          Hester                 5287      5
3      4  2bFC1Be8a4ce42f  Holder-Sellers                  921      6
4      5  9eE8A6a4Eb96C24     Mayer Group                 7870     10
5      6  cC757116fe1C085  Henry-Thompson                 4914      5
6      7  219233e8aFF1BC3  Hansen-Everett                 7832      5
7      8  ccc93DCF81a31CD   Mcintosh-Mora                 4389      4
8      9  0B4F93aA06ED03e        Carr Inc                 8167      8
9     10  738b5aDe6B1C6A5      Gaines Inc                 9698     10

In [9]:
titanic_train.head()

   Index  Organization Id            Name  Number of employees  years
0      1  FAB0d41d5b5d22c         Ferrell                 3498      2
1      2  6A7EdDEA9FaDC52        Mckinney                 4952      4
2      3  0bFED1ADAE4bcC1          Hester                 5287      5
3      4  2bFC1Be8a4ce42f  Holder-Sellers                  921      6
4      5  9eE8A6a4Eb96C24     Mayer Group                 7870     10

In [3]:
titanic_train.columns

Index(['Index', 'Organization Id', 'Name', 'Number of employees', 'years'], dtype='object')

In [5]:
titanic_train.dtypes
type(titanic_train.dtypes)

pandas.core.series.Series

In [8]:
dy = titanic_train.dtypes
dy[0:4]

Index                   int64
Organization Id        object
Name                   object
Number of employees     int64
dtype: object

In [26]:
import pandas as pd
import numpy as np
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

df = pd.DataFrame(dict)

# for is null
df.isnull()
# filling missing values

SyntaxError: expected ':' (588887076.py, line 15)

In [47]:
import os
filename = "Array"
root =  next(os.walk(r'C:\Users\V\Desktop\Data-Structures-Algorithms'))
directory = root[1]
files = root[2]
print(files)
if filename in directory:
    print(directory)
else:
    print("NO")

[]
['.git', 'Array']