In [1]:
import pandas as pd

lst = ['Geeks', 'For', 'Geeks', 'is', 
            'portal', 'for', 'Geeks']

df  = pd.DataFrame(lst)
print(df)

        0
0   Geeks
1     For
2   Geeks
3      is
4  portal
5     for
6   Geeks

In [21]:
import pandas as pd

data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
df = pd.DataFrame(data)
print(df)

df["address"] = [1,2,3,4]
df.drop(["address"],axis=1,inplace=True)
df
res = df.loc[[0]]
res

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

  Name  Age
0  Tom   20